
  <ion-header>
    <ion-toolbar >
      Bienvenido
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div>
    <ion-card>
      <img src="./../../assets/img/smileDentLogo.png">
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="Password">
          </ion-input>
      </ion-item>
        <ion-buttons center>
          <ion-button color="primary" (click)="login()">Ingresar</ion-button>
        <ion-button color="medium">Salir</ion-button>
        </ion-buttons>
        
     
    </ion-card>

  </div>
  </ion-content>

