<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar class="barra">
    <ion-buttons collapse="true">
      <ion-button>
        NUEVO CLIENTE
      </ion-button>
      
  
      <ion-searchbar (ionInput)="hola"></ion-searchbar>
<ion-button expand="block" fill="clear" shape="round">
 <ion-icon name="search"></ion-icon>
</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-card>
    <ion-card-header>
      Informacion
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        Nombre
      </ion-label>
      <ion-label>
        Apellido
      </ion-label>

      
    </ion-card-content>
    <ion-buttons end>
      <ion-button color="secondary">
        EDITAR
      </ion-button>
      <ion-button>
       AGENDAR
      </ion-button>
      <ion-button>
      PAGOS
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
