<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Citas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      ACTIVIDADES DEL DIA
    </ion-card-header>
    <ion-card-content>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>HORA</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>NOMBRE</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>APELLIDO</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>ACCEDER</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>8:00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>ESTHER</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>SANCHEZ</ion-label>
        </ion-col>
        <ion-col col-4>
          <button color="primary">IR <ion-icon name="open"></ion-icon></button>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>8:30</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>ESTHER</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>SANCHEZ</ion-label>
        </ion-col>
        <ion-col col-4>
          <button color="primary">IR <ion-icon name="open"></ion-icon></button>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>9:00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>ESTHER</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>SANCHEZ</ion-label>
        </ion-col>
        <ion-col col-4>
          <button>IR <ion-icon name="open"></ion-icon> </button>
          
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



</ion-content>